body {
  background-color: yellow;
}
.user-card {
  width: 25rem;
  margin: auto;
  margin-top: 6.25rem;
  background-color: aqua;
  padding: 1.25rem;
  box-shadow: 0.0562rem 0rem 0.6875rem 0.125rem rgba(0, 0, 0, 0.75);
  border-radius: 0.625rem;
}
#profil-photo {
  margin-right: 1.25rem;
  border-radius: 62.4375rem;
}
.icon {
  width: 1.5625rem;
  margin-right: 1.5625rem;
}
#age {
  text-align: center;
}
#register {
  text-align: center;
}
#btn {
  background-color: blue;
  color: white;
  border-radius: 1.25rem;
  margin-left: 9.375rem;
  height: 2.5rem;
  width: 6.25rem;
}
